[submodule "StableLM"]
	path = StableLM
	url = https://github.com/gitease/StableLM.git
	branch = main
[submodule "StableStudio"]
	path = StableStudio
	url = https://github.com/gitease/StableStudio.git
	branch = main
[submodule "promptflow"]
	path = promptflow
	url = https://github.com/civigit/promptflow.git
	branch = main
